version: "3.9"

services:

  redis:
    image: redis:7
    container_name: backend_redis
    restart: always
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    container_name: backend_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
       - "9000:9000"
       - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
