server:
  port: ${APP_PORT:8080}

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  cache:
    type: redis

redis:
  host: ${SPRING_REDIS_HOST}
  port: ${SPRING_REDIS_PORT}

minio:
  url: ${MINIO_ENDPOINT}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket: ${MINIO_BUCKET}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
